QMainWindow {
  background-color: #2e2626;
}

QPushButton {
  background-color: #a2a2a2;
  color: #2e2e2e;
  border-style: solid;
  border-color: #a2a2a2;
  border-width: 5px;
  border-radius: 10px;
}

QLineEdit {
  background-color: #665c56;
  color: #432916;
  border: none;
}

QComboBox {
  background-color: #ff8027;
  border-color: #c3601b;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

QLabel#titleLabel {
  color: #a3a3a3;
  font-size: 30px;
  font-weight: bolder;
}

QLabel#labelVs {
  color: #f5802e;
}

QFrame#comboboxSublayout {
  background-color: #625050;
}

/*
Pra aplicar num objeto específico é tipo:
QLabel#labelObjectName {}
*/
