QMainWindow {
  background-color: #bbbbbb;
}

QLabel {
  font: 16px;
  color: #202020;

  max-height: 44px;
}

QLabel#titleLabel {
  color: #000000;
  font-size: 20px;
  font-weight: bolder;

  max-height: 20px;


}

QLabel#titleLabel:hover {
  
}

QLabel#labelVs {
  color: #2e2626;
  font-size: 20px;
}

QFrame {
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

QFrame#sublayout {
  border: 1px solid #202020;
  padding: 10px;
  border-radius: 5;
  max-height: 150px;
}

QFrame#predict-sublayout {
  border: 1px solid #202020;
  padding: 10px;
  border-radius: 5;
  height: 250px;
  max-height: 500px;
}

QComboBox {
  background-color: #202020;

  border-color: #ff8027;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  /* border: none; */

  font-size: 20px;
  color: #eb6200;

  /* text-align: center;
  vertical-align: middle; */

  width: 200;
  max-width: 300;
  height: 20;

  padding: 4px;
  /* margin-top: 20px; */
}

QComboBox:hover {
  background-color: #ff6a00;
  color: #000000;
}

QPushButton {
  background-color: #202020;

  border-style: solid;
  border-color: #ff8027;
  border-width: 1px;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 800; 
  color: #ff8027; 

  max-width: 800px;

  margin-right: 100;
  margin-left: 100;
  /* margin-top: 20;  */
  padding: 10px;
}

QPushButton:hover {
  background-color: #ff8027;

  border-color: #ff6a00;

  color: #131313;
  font-weight: 800; 
}


QLineEdit {
  background-color: rgba(126, 108, 108, 0.158);
  color: #793e14;

  border-style: solid;
  border-color: #643310;
  border-width: 1px;
  border-radius: 5px;
  border: none;

  font-size: 13px;
  font-weight: 400;

  height: 50;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 20px;

  padding: 5px;
}

QPushButton#bottomButtons {

  font-size: 12px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px;
  max-height: 20px;
  min-height: 20px;
  max-width: 200px;
  min-width: 100px;
  /* max-width: 150px;
  min-width: 150px; */
}

/*
Pra aplicar num objeto específico é tipo:
QLabel#labelObjectName {}
*/
